<mat-sidenav-container>
  <mat-sidenav #sidenav  mode="side" [opened]="isExpanded"  class="sidenav">
    <mat-nav-list>
       <!-- Default Items -->
       <ng-container *ngIf="!isAdmin">
        <div class="matlist">
          <a
            mat-list-item
            routerLinkActive="list-item-active"
            routerLink="/dashboard"
            [ngClass]="{'collapsed': !isExpanded}"
            class="nav-item">
            <mat-icon class="nav-icon">dashboard</mat-icon>
            <span class="nav-text">Dashboard</span>
          </a>
        </div>
        
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/expense" [ngClass]="{'collapsed': !isExpanded}" class="nav-item">
          <mat-icon class="nav-icon">local_atm</mat-icon> 
          <span class="nav-text"> Expense </span> 
        </a>
      
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/report" [ngClass]="{'collapsed': !isExpanded}" class="nav-item"> 
          <mat-icon class="nav-icon">report</mat-icon>
          <span class="nav-text"> Reports </span>
        </a>
      
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings" [ngClass]="{'collapsed': !isExpanded}" class="nav-item"> 
          <mat-icon class="nav-icon">account_circle</mat-icon> 
          <span class="nav-text"> User Profile </span> 
        </a>

        <mat-divider></mat-divider>
        <a mat-list-item (click)="adminClicked()" [ngClass]="{'collapsed': !isExpanded}" class="admin-nav-item" >
          <mat-icon class="nav-icon">admin_panel_settings</mat-icon>
          <span class="nav-text">Admin View</span>
                </a>
      </ng-container>
      
         <!-- Admin Menu Items -->
      <ng-container *ngIf="isAdmin" >

        <a mat-list-item routerLink="/admin-dashboard" routerLinkActive="list-item-active" [ngClass]="{'collapsed': !isExpanded}" class="nav-item">
          <mat-icon class="nav-icon">dashboard</mat-icon>
          <span class="nav-text">Admin Dashboard</span>
        </a>
        <a mat-list-item routerLink="/office-expense" routerLinkActive="list-item-active" [ngClass]="{'collapsed': !isExpanded}" class="nav-item">
          <mat-icon class="nav-icon">apartment</mat-icon>
          <span class="nav-text">Office Expense</span>
        </a>
        <a mat-list-item routerLink="/adminTask" routerLinkActive="list-item-active" [ngClass]="{'collapsed': !isExpanded}" class="nav-item">
          <mat-icon class="nav-icon">task</mat-icon>
          <span class="nav-text">Admin Task</span>
        </a>
        <a mat-list-item (click)="routeToUserDashboard()" [ngClass]="{'collapsed': !isExpanded}" class="nav-item">
          <mat-icon class="nav-icon">arrow_back</mat-icon>
          <span class="nav-text">Back to User view</span>
        </a>
      </ng-container>
      
    </mat-nav-list>
</mat-sidenav>

<mat-sidenav-content class="sidenav-content-bg">
  <!--Toggle Button-->
  <a class="tog" mat-icon-button (click)="toggleSidebar()">
    <mat-icon>{{ isExpanded ? 'chevron_left' : 'chevron_right' }}</mat-icon>
  </a>
  <router-outlet></router-outlet>
  
</mat-sidenav-content>

</mat-sidenav-container>

