<div class="container-fluid conntent">
    <div class="row">
      <div class="col-md-12">
        <div class="info-box p-4 border bg-light mt-1">
            <div class="header-box mb-2 ">
          <p class="header-top">USER INFORMATION</p> <!--Title-->
          <span class="prefix">Complete your profile</span>
          </div>
           <!-- First Row -->
        <div class="row mt-3">
            <div class="col-md-3 mb-2">
              <div class="form-group">
                <input type="text" class="form-control" id="companyName" placeholder="Company Name" disabled>
              </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="form-group">
                  <input type="text" class="form-control" id="email" placeholder="Designation" disabled>
                </div>
              </div>
            <div class="col-md-3 mb-2">
              <div class="form-group">
                <input type="text" class="form-control" id="userName" placeholder="User Name" disabled>
              </div>
            </div>
            <div class="col-md-3 mb-2">
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Email Address" disabled>
              </div>
            </div>
          </div>
          <!-- Second Row -->
          <div class="row mt-4">
            <div class="col-md-6 mb-2">
              <div class="form-group">
                <input type="text" class="form-control" id="firstName" placeholder="First Name">
              </div>
            </div>
            <div class="col-md-6 mb-2">
              <div class="form-group">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name">
              </div>
            </div>
          </div>
          <!-- Third Row -->
          <div class="row mt-4">
            <div class="col-md-12 mb-2">
              <div class="form-group">
                <textarea type="text" class="form-control" id="address" placeholder="Address"></textarea>
              </div>
            </div>
          </div>
          <!-- Fourth Row -->
          <div class="row mt-4">
            <div class="col-md-4 mb-2">
              <div class="form-group">
                <input type="text" class="form-control" id="city" placeholder="City">
              </div>
            </div>
            <div class="col-md-4 mb-2">
              <div class="form-group">
                <input type="text" class="form-control" id="country" placeholder="Country">
              </div>
            </div>
            <div class="col-md-4 mb-2">
              <div class="form-group">
                <input type="text" class="form-control" id="postalCode" placeholder="Postal Code">
              </div>
            </div>
          </div>
          <!-- Fifth Row -->
          <div class="row mt-4">
            <div class="col-md-12 mb-2">
              <div class="form-group">
                <textarea class="form-control" id="aboutMe" rows="4" placeholder="Write something about yourself..."></textarea>
              </div>
            </div>
          </div>
          <!-- Submit Button -->
          <div class="row mt-3">
            <div class="col-md-12 text-right ">
              <button class="btn btn-primary">Update Profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  

  