footer {
  background-color: #1c2b36;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}
.btn-outline {
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.btn-outline:hover {
  background-color: #1c2b36;
  color: white;
  border-color: #394f68;
}