.header-box {
    background-color: #2f455b;
    width: 50%; /* Light border color */
    border-radius: 8px; /* Rounded corners */
    padding: 10px; /* Padding around the content */
    box-shadow: 10px -10px teal; /* Subtle shadow */
    margin:  auto;
    margin-bottom: 25px;  /* Space below the box */
  }
  .header-box h3 {
    color: #f7fafa; /* Dark text color */
    margin-bottom: 0; /* Remove bottom margin */
  }

  .card {
    background-color: #9ee3cd;
    border: 0px solid #1a4c3c;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 20px 12px rgba(22, 26, 71, 0.1);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    text-align: center; /* Center-aligns title */
  }
  
  .card-text {
    color: #555;
    font-size: 1rem;
  }

  .card-icon {
    font-size: 2rem;
    color: #1c2936; /* Or your preferred color */
    border: 0px solid #2d4452;
    padding: 10px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    background-color: #cdf3e7;
  }


.chart-container {
    width:20;
    padding: 10px;
    background-color: rgb(248, 250, 252);
    box-shadow: 0 20px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px; 
  }
 
  .table-container{
    background-color: #9ee3cd;
    padding: 2px;
    box-shadow: 0 20px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

