<div class="container-fluid content">
    <div class="info-box p-4 border bg-light mt-1">
        <div class="header-box">
            <p class="header-top">DASHBOARD</p>
            </div>
    <div class="row mt-2">
        <div class="col-md-4 mb-2">
            <div class="card">
                <div class="card-body d-flex align-items-center">
                    <i class="fas fa-users icon-1 card-icon me-3"></i>
                    <div>
                    <h5 class="card-title">Used Budget</h5>
                    <p class="card-text">{{ usedBudget | number }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="card">
              <div class="card-body d-flex align-items-center">
                <i class="fas fa-chart-line icon-2 card-icon me-3"></i>
                <div>
                  <h5 class="card-title">Recent Expenses</h5>
                  <p class="card-text">{{ recentExpenses | number }}</p>
                </div>
              </div>
            </div>
          </div>
        <div class="col-md-4 mb-2">
            <div class="card">
                <div class="card-body d-flex align-items-center">
                    <i class="fas fa-clock icon-3 card-icon me-3"></i>
                    <div>
                    <h5 class="card-title">Pending Approvals</h5>
                    <p class="card-text">{{ pendingApprovals | number }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row chart mt-5 mb-5 ">
        <div class="col-md-6 chart-container1">
          <canvas id="donutChart" baseChart
          [type]="'doughnut'"
          [data]="data1"
          [options]="chartOptions1">
        </canvas>
        </div>
        
        <div class="col-md-6 chart-container">
          <canvas id="stackedBarChart" baseChart
          [type]="'bar'"
          [data]="data2"
          [options]="chartOptions2"
          ></canvas>
          </div>
      </div>

      <div class="table-container mt-3">
    <h5 class="text-center mt-2 text-bold"> Employee Status </h5>
    
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Expense Type</th>
                    <th>Amount</th>
                    <th>Approvals Status</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of tableData">
                <td>{{ item.expenseType }}</td>
                <td class="amount">{{ item.amount | number:'1.2-2' }}</td>
                <td class="approve">{{ item.pendingApprovals }}</td>
              </tr>
            </tbody>
        </table>
    </div>

    <div class="table-container mt-5">
        <h5 class="text-center mt-2 text-bold"> Team Approval Requests </h5>

        <div class="select">
            <button class="btn btn-success btn-sm" (click)="approveSelected()">Approve Selected</button>
            <button class="btn btn-danger btn-sm" (click)="rejectSelected()">Reject Selected</button>
          </div>
        
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th><input type="checkbox" (change)="SelectAll($event)" /></th>
                        <th scope="col">Emp Name</th>
                        <th scope="col">Expense Type</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Submission Date</th>
                        <th scope="col">Receipts</th>
                        <th scope="col">Requests</th>
                        <th scope="col">Comments</th>
                    </tr>
                </thead>
                <tbody>
                    
                <tr *ngFor="let item of tableData">
                    <td>
                        <input type="checkbox" [(ngModel)]="item.selected" />
                      </td>
                    <td class="name">{{ item.empName }}</td>
                    <td>{{ item.expenseType }}</td>
                    <td class="amount">{{ item.amount | number:'1.2-2' }}</td>
                    <td class="date">{{ item.submissionDate | date:'MMM d, y' }}</td>
                    <td class="receipt">
                        <a *ngIf="item.receipt" [href]="item.receipt" target="_blank">View</a>
                        <span *ngIf="!item.receipt">No Receipt</span>
                      </td>
                    <td>
                        <div class="buttons-container">
                        <button (click)="approveItem(item)">Approve</button>
                        <button (click)="rejectItem(item)">Reject</button>
                        </div>
                      </td>
                    <td class="cmt">
                        <textarea [(ngModel)]="item.comments" placeholder="Add comment here" style= " height: 40px;"></textarea>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
</div>
</div>

