<mat-toolbar class="custom-toolbar">
  <span class="name">Intelli</span><span class="cloud">Cloud</span>
  <span class="name">-Solutions</span>
  <span class="example-spacer"></span>

  
  <p class="transparent-padding">
    <input class="searchInput" type="text" placeholder="Search for...">
      <mat-icon matSuffix>search</mat-icon>
  </p>

  
  <button mat-button >
    <a routerLinkActive="list-item-active" routerLink="/notify"> 
      <mat-icon aria-hidden="false" aria-label="Notification bell icon" fontIcon="notifications"></mat-icon>
    </a>
    </button>
    
    
  <button mat-button >
    <a routerLinkActive="list-item-active" routerLink="/user">
      <mat-icon aria-hidden="false" aria-label="User icon" fontIcon="person" ></mat-icon>
    </a>
    </button>
</mat-toolbar>

