<body>
  <section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">
          <div class="px-5 ms-xl-4">
            <span class="h1 fw-bold mb-0"></span>
          </div>
          <div
            class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5"
          >
            @if(isLoginView) {
            <form style="width: 23rem" [formGroup]="userForm">
              <h3 class="fw-normal mt-5 mb-3 pb-3" style="letter-spacing: 1px">
                Login
              </h3>
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form2Example18">User Name</label>
                <input
                  placeholder="Enter your username"
                  name="userName"
                  [(ngModel)]="userLogin.userName"
                  type="email"
                  id="form2Example18"
                  class="form-control form-control-lg"
                  formControlName="userName"
                />
                <div
                  class="text-danger"
                  *ngIf="
                    userForm.controls['userName'].invalid &&
                    (userForm.controls['userName'].touched ||
                      userForm.controls['userName'].dirty)
                  "
                >
                  <span
                    *ngIf="userForm.controls['userName'].errors?.['required']"
                  >
                    This is Required
                  </span>
                </div>
              </div>
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form2Example28">Password</label>
                <input
                  placeholder="Enter your password"
                  name="password"
                  [(ngModel)]="userLogin.password"
                  type="password"
                  id="form2Example28"
                  class="form-control form-control-lg"
                  formControlName="password"
                />
                <div
                  class="text-danger"
                  *ngIf="
                    userForm.controls['password'].invalid &&
                    (userForm.controls['password'].touched ||
                      userForm.controls['password'].dirty)">
                  <span *ngIf="userForm.controls['password'].errors?.['required']">
                    This is Required
                  </span>
                </div>
              </div>
              <div class="pt-1 mb-4">
                <button
                  data-mdb-button-init
                  data-mdb-ripple-init
                  (click)="onLogin()"
                  class="btn btn-info btn-lg btn-block"
                  type="button">
                  Login
                </button>
              </div>
              <p>
                Don't have an account?
                <a class="link-info" (click)="isLoginView = false"
                  >Register here</a
                >
              </p>
            </form>
            } @else {
            <form style="width: 23rem" [formGroup]="userForm">
              <h3 class="fw-normal mt-5 mb-3 pb-3" style="letter-spacing: 1px">
                Register
              </h3>

              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form2Example18"
                  >Email address</label
                >
                <input
                  placeholder="Enter your email"
                  name="emailId"
                  [(ngModel)]="userRegisterObj.emailId"
                  type="email"
                  id="form2Example18"
                  class="form-control form-control-lg"
                  formControlName="emailId"
                />
                <div
                  class="text-danger"
                  *ngIf="
                    userForm.controls['emailId'].invalid &&
                    (userForm.controls['emailId'].touched ||
                      userForm.controls['emailId'].dirty)
                  "
                >
                  <span
                    *ngIf="userForm.controls['emailId'].errors?.['required']"
                  >
                    This is Required
                  </span>
                  <span *ngIf="userForm.controls['emailId'].errors?.['email']">
                    Email Is Not Proper
                  </span>
                </div>
              </div>
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form2Example18">User Name</label>
                <input
                  placeholder="Enter your username"
                  name="userName"
                  [(ngModel)]="userRegisterObj.userName"
                  type="email"
                  id="form2Example18"
                  class="form-control form-control-lg"
                  formControlName="userName"
                />
                <div
                  class="text-danger"
                  *ngIf="
                    userForm.controls['userName'].invalid &&
                    (userForm.controls['userName'].touched ||
                      userForm.controls['userName'].dirty)
                  "
                >
                  <span
                    *ngIf="userForm.controls['userName'].errors?.['required']"
                  >
                    This is Required
                  </span>
                  <span
                    *ngIf="userForm.controls['userName'].errors?.['maxlength']"
                  >
                    User Name must be no more than 8 characters long
                  </span>
                </div>
              </div>

              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form2Example28">Password</label>
                <input
                  placeholder="Enter your password"
                  name="password"
                  [(ngModel)]="userRegisterObj.password"
                  type="password"
                  id="form2Example28"
                  class="form-control form-control-lg"
                  formControlName="password"
                />
                <div
                  class="text-danger"
                  *ngIf="
                    userForm.controls['password'].invalid &&
                    (userForm.controls['password'].touched ||
                      userForm.controls['password'].dirty)
                  "
                >
                  <span
                    *ngIf="userForm.controls['password'].errors?.['required']"
                  >
                    This is Required
                  </span>
                  <span
                    *ngIf="userForm.controls['password'].errors?.['passwordStrength']"
                    >Password must contain upper case, lower case, numeric, and
                    special character.</span
                  >
                  <br />
                  <span
                    *ngIf="userForm.controls['password'].errors?.['minlength']"
                    >Not less than 6 character</span
                  >
                  <span
                    *ngIf="userForm.controls['password'].errors?.['maxlength']"
                    >Not more than 20 character</span
                  >
                </div>
              </div>

              <div class="pt-1 mb-4">
                <button
                  data-mdb-button-init
                  data-mdb-ripple-init
                  class="btn btn-info btn-lg btn-block"
                  (click)="onRegister()"
                  [disabled]="userForm.invalid"
                  type="button">
                  Register
                </button>
              </div>
              <p>
                Have an account?
                <a class="link-info" (click)="isLoginView = true">Login here</a>
              </p>
            </form>
            }
          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img
            src="https://cdn-icons-png.freepik.com/512/9321/9321401.png"
            alt="Login image"
            class="w-100 hh-50"
          />
        </div>
      </div>
    </div>
  </section>
</body>
