.info-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin: -20px 0;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  }

  .header-top{
    font-size: 24px; /* Adjust the size as needed */
  font-weight: bold;
  color: #808080;
  }

.btn{
  background-color: #2f455b;
    border-color: #859cb5;
    color: rgb(242, 248, 248);
    border-radius: 1;
    margin-top: 5px;
    width: 20%;
    
  }
  
  .btn:hover {
    background-color: #1c2834;
    border-color: #2e6bad;
    
  }

  .text-right {
    text-align: right !important;
  }


.form-control {
  border: 1px solid #c6d3e0; /* Light grey border */
  border-radius: 2; /* No border radius */
  padding: 5px; /* Add padding for better spacing */
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
  
}
.form-control:focus {
    border-bottom: 4px solid teal; /* Change underline color on focus */
    box-shadow: 0 1px 0 0 rgba(30, 144, 255, 0.5); /* Add a subtle shadow below underline on focus */
    outline: none; /* Remove default outline */
}

.form-control::placeholder {
    color: teal; /* Placeholder color */
    
  }

  .receipt-grp{
    display: flex;
  align-items: center;
  }

  .label{
    margin-right: 10px; /* Adjust the space between label and input */
    color: teal;
  }
  .receipt-input{
    width: 100%;
    cursor: pointer;
  }

  .receipt-input:hover{
    background-color: rgb(201, 248, 248);
  }

  .date-group {
    display: flex;
    align-items: center;
  }
  
  .date-group label {
    margin-right: 10px; /* Adjust the space between label and input */
  }
  
  .date-display {
    display: inline-block;
    padding: 0.375rem 0;
    font-size: 1rem;
    color: teal;
    border-bottom: 1px solid teal; /* Line at the bottom */
    cursor: default; /* Prevent text selection cursor */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .date-display:hover {
    color: #5fadb4; /* Change text color on hover */
    border-bottom: 1px solid #2c4f52;
    /* Thicken the line on hover */
  }

  .selectValue{
    color: teal;
  }