.info-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin: -20px 0;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  }

  .header-top{
    font-size: 24px; /* Adjust the size as needed */
  font-weight: bold;
  color: #808080;
  }

  .table th{
    text-align: center;
    color: #f4f5f7;
    background-color: #0e8174;
     font-size: 15px;
  }

  .pagination-controls {
    display: flex;
    justify-content: right;
    margin: 10px 0;
  }

  /* Pagination CSS */
  .pagination-controls .pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  
  .pagination-controls {
    display: flex;
    justify-content: right;
    margin: 10px 0;
  }
  
  .pagination-controls .pagination li a {
    display: block;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    background-color: #0e8174; 
  }
  
  
  .pagination-controls .pagination li.active a {
    background-color: #0e8174; 
    color: #fff;
  }
  
  .pagination-controls .pagination li a:hover {
    background-color: #0e8174; 
    color: #fff;
  }
  
  .pagination-controls .pagination li.disabled a {
    color: #6c757d;
    pointer-events: none;
  }